body {
  font-family: sans-serif;
  color: aliceblue;
  background-color: black;
}

h1 {
  text-align: center;
}

div {
  border: 2px solid green;
  padding: 10px;
  text-align: center;
}

span {
  margin-right: 1ch;
  margin-left: 10px;
}

button {
  background-color: dimgrey;
  color: white;
  border: 1px solid black;
  font-size: 1em;
  margin-left: 10px;
}
button:disabled {
  color: darkslategrey;
}

#flex {
  border: 1px solid red;
  display: flex;
}


.led {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: red;
}


#son {
  position: relative;
}

.player {
  padding: 0px;
  margin: 0px;
  border: none;
}
#soundContainer {
  position: relative;
}
#soundBar {
  background-color: #2a26;
  height: 100px;
  width: 50%;
}
#soundCursor {
  position: absolute;
  top: 0px;
  left: 25%;
  background-color: #22aa;
  height: 100%;
  width: 1px;
}

.timeText {
  font-family: monospace;
  font-size: 1.5em;
}
#soundMin {
  position: absolute;
  top: 10px;
  left: 0px;
}
#soundMax {
  position: absolute;
  top: 10px;
  right: 0px;
}


#orgueP {
  flex-grow: 1;
}

.fader {
  display: inline-block;
  float: left;
  width: 2em;
  height: 2em;
  align-content: center;
  text-align: left;
}


#cueP>* {
  float: left;
}

#mem {
  width: 6ch;
}

table {
  margin: 10px;
  border-collapse: collapse;
}

.cueTR:nth-child(odd) {
  background-color: #222;
}

.cueTR:nth-child(even) {
  background-color: #444;
}

.cueTR:hover {
  background-color: #666;
}

.cueTR.sel {
  background-color: #888;
  border: 2px solid red;
}

th, td {
  border: 1px solid purple;
  white-space: nowrap;
}

.time {
  width: 8ch;
  background-color: black;
  color: white;
}

.progress {
  display: none;
  border: none;
  position: absolute;
  top: inherit;
  height: inherit;
  width: inherit;
  background-color: #2a26
}


.patchName {
  background-color: inherit;
  color: inherit;
  text-align: center;
  width: 6em;
}
.patchName:focus {
  background-color: darkgreen;
}
.ledNumber {
  width: 2.5em;
}


.proto {
  display: none;
}

